@import './base.css';
a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 0;
}
.a-button-outline {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.button-outline,
.a-button-outline {
  border: 1px solid #383636;
  color: #222020;
  background-color: white;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  /* width: 80px; */
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--title-font);
  transition: 0.4s;
}
.btn {
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(0.95);
}

.button-outline:hover,
.a-button-outline:hover {
  color: white;
  background-color: #222020;
}
.button-outline:active,
.a-button-outline:active {
  transform: scale(0.95);
}
.button-outline:disabled:hover,
.button-outline:disabled,
.button-outline:disabled:active {
  cursor: not-allowed;
  background: rgba(0,0,0, 0.5);
  backdrop-filter: blur(5px);
  transform: none;
  color: black;
}
.danger-outline {
  color: red;
  background-color: var(--color-background);
  border-color: red;
}
.danger-outline:hover {
  color: white;
  background-color: red;
}
input {
  outline: none;
}
.error-msg {
  font-weight: 300;
  font-size: 12px;
  color: red;
}
.fcol {
  display: flex;
  flex-flow: column;
  justify-content: flex;
  align-items: flex-start;
}
.label {
  margin-right: 10px;
  color: var(--primary);
  font-weight: 600;
}
input {
  border: 1px solid #ccc;
  color: #222020;
  font-size: 16px;
  background: inherit;
  padding: 5px;
  transition: all 0.3s ease;
}
input.error {
  border-color: red;
}
.error-msg {
  font-weight: 300;
  font-size: 12px;
  color: red;
}
p span.red {
  font-weight: 700;
  color: red;
  font-size: 18px;
}